// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.offers_holder {
    background: #fff;
    padding: 10px;

    .offer_item {
        border-bottom: 1px solid #ddd;

        .offer_crud {
            width: 100%;
            a {
                margin-right: 10px;
            }
        }
    }

    .offers_head,
    .offer_item {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ddd;

        & > div {
            padding: 8px;
        }
    }
    .offer_item {
    }
    .offer_title {
        width: 20%;
    }

    .offer_author {
        width: 15%;
    }

    .offer_categories {
        width: 15%;
    }

    .offer_tags {
        width: 20%;
    }

    .offer_publish_date {
        width: 10%;
    }

    .offer_expire_date {
        width: 10%;
    }
}

.new_offer {
    background: #fff;
    padding: 20px;
    h3 {
        font-size: 23px;
        font-weight: bold;
    }
    .offer_title {
        margin-top: 20px;
        line-height: 1.5;
        font-size: 20px;
    }

    input[type="text"] {
        display: block;
        width: 100%;
    }

    .offer_text {
        margin-top: 20px;
        input {
            margin-bottom: 10px;
            font-size: 15px;
        }
        button {
            border: none;
            padding: 5px 20px;
            font-size: 15px;
            color: #fff;
            background: #3c8dbc;
            border-radius: 3px;
        }
    }

    .offer_categories {
        margin-top: 20px;
        & > ul {
            padding-left: 0;
        }
        ul {
            list-style: none;
        }

        .publish_offer {
            text-align: right;
            margin-top: 20px;
            button {
                border: none;
                background: #19c31a;
                color: #fff;
                line-height: 2;
                font-size: 20px;
                border-radius: 3px;
                padding: 0 25px;
                text-align: center;
            }
        }
    }
}
