* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #f4f4f4;
  position: relative;
  width: 100%;
  min-height: 100%;
}

button,
select,
input {
  outline: none;
}

input::placeholder {
  color: rgb(175, 175, 175) !important;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .container {
    width: 98%;
    max-width: 98%;
    min-width: 98%;
  }
}

header .container {
  width: 89%;
  min-width: 89%;
  max-width: 89%;
}

@media (max-width: 1250px) {
  header .container {
    width: 98%;
    max-width: 98%;
    min-width: 98%;
  }
}

/* START HEADER */

header {
  width: 100%;
  background: orange;
  position: relative;
}

.navbar-brand {
  padding: 0 !important;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.header_top_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header_top_left p {
  color: #fff;
  font-size: 14px;
  margin: 0 20px;
}

.logo {
  width: 225px;
}

.header_search {
  width: 600px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1650px) {
  .header_search {
    width: 400px;
  }

  .popular_brands_row label input {
    width: 400px !important;
  }
}

@media (max-width: 1450px) {
  .header_search {
    width: 270px;
  }

  .popular_brands_row label input {
    width: 270px !important;
  }
}

@media (max-width: 1180px) {
  .popular_brands_row_left .popular_brands_text a {
    font-size: 12px !important;
  }

  .popular_brands_text h5 {
    font-size: 12px !important;
  }

  .popular_brands_row span {
    font-size: 12px !important;
  }

  .category_blade_title span {
    font-size: 12px !important;
  }

  .header_search {
    width: 240px;
    font-size: 12px !important;
  }

  .header_search label input {
    font-size: 14px !important;
  }

  .popular_brands_row label input {
    font-size: 12px !important;
    line-height: 3 !important;
  }
}

@media (max-width: 970px) {
  .popular_brands_row_left {
    width: 100%;
    order: 2;
  }

  .popular_brands_row_right {
    width: 100%;
    order: 1;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
  }
}

.brand_offers .popular_brands_row {
  height: 50px;
  margin-top: 10px;
}

.brand_offers .category_blade {
  display: block !important;
}

@media (max-width: 800px) {
  .popular_brands_row_right {
    display: none !important;
  }

  .popular_brands_row_right form {
    width: 100%;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popular_brands_row_right form label {
    width: 90%;
  }

  .popular_brands_row {
    padding: 10px 0 !important;
  }

  .popular_brands_text {
    order: 1;
    margin: 0;
    flex-wrap: wrap;
    width: 80%;
  }

  .popular_brands_row span {
    margin-left: 10px !important;
  }

  .popular_brands_row_left .popular_brands_text a {
    font-size: 15px !important;
  }

  .popular_brands_text h5 {
    font-size: 15px !important;
  }

  .offer_page_title span {
    margin-left: 10px !important;
  }
}

@media (max-width: 750px) {
  .popular_brands_row_left {
    flex-direction: column;
  }

  .popular_brands_text {
    margin: 0 !important;
    width: 96% !important;
  }
}

.header_search form {
  width: 100%;
  position: relative;
}

.header_search label {
  position: relative;
  width: 100%;
}

.header_search label button {
  position: absolute;
  top: 4px;
  left: 8px;
  color: rgb(175, 175, 175);
  font-size: 20px;
  border: none;
  outline: none;
  background: transparent;
}

.header_search label input {
  border: none;
  outline: none;
  line-height: 2.5;
  width: 100%;
  border-radius: 5px;
  padding: 0 40px;
  font-size: 14px;
  color: rgb(175, 175, 175);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

/* START SEARCH RESULT */

.search_result {
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  background: #fff;
  z-index: 99;
  border-radius: 10px;
  height: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.search_result_item {
  height: 100px;
  border-bottom: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_result_item:hover:first-child {
  border-radius: 10px 10px 0 0;
}

.search_result_item:last-child {
  border-bottom: none;
  border-radius: 0 0 10px 10px;
}

.search_result_item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  height: 100%;
  text-align: right;
}

.search_result_item img {
  width: 15%;
}

@media (max-width: 1650px) {
  .search_result_item img {
    width: 25% !important;
  }
}

.search_result_item span {
  color: orange;
  font-size: 13px;
  font-weight: bold;
}

.search_result_item:hover {
  background: #f3f3f3;
}

@media (max-width: 1300px) {
  .search_result_item img {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .search_result {
    left: 5% !important;
    right: 5% !important;
  }

  .search_result_item img {
    width: 15% !important;
  }
}

@media (max-width: 500px) {
  .search_result_item img {
    width: 20% !important;
  }

  .search_result_item {
    height: 70px !important;
  }
}

/* END SEARCH RESULT */
.header_search label input {
  font-size: 14px;
}

.header_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_bottom label {
  position: relative;
  margin: 0 !important;
}

.header_bottom label button {
  border: none;
  background: transparent;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 18px;
  color: rgb(175, 175, 175);
}

.header_bottom input {
  border: none;
  background: #fff;
  font-size: 14px;
  color: rgb(175, 175, 175);
  width: 300px;
  height: 35px;
  padding-left: 30px;
  border-radius: 7px;
}

.navigation li {
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  position: relative;
}

.navigation li:first-child {
  margin-left: 0;
}

.navigation li .navigation_item {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  line-height: 3;
  height: 100%;
  display: flex;
  justify-content: center;
}

.big_search {
  width: 100%;
  padding: 0 10px;
}

.big_search label {
  width: 100%;
  position: relative;
}

.big_search button {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 24px;
  color: #ccc;
  height: 70%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
}

.big_search input {
  border: none;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 100px;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media (max-width: 500px) {
  .big_search input {
    padding: 0px;
    padding-left: 50px;
    padding-right: 10px;
  }
}

.submenu {
  position: absolute;
  top: 47px;
  left: -70px;
  width: 250px;
  right: 0;
  background: orange;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.submenu li {
  line-height: 2.5;
  width: 100%;
  text-align: center;
}

.submenu li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.submenu li {
  color: #fff;
  font-size: 14px;
}

.header_viewOfferButtons {
  display: none;
}

@media (max-width: 800px) {
  .header_top {
    flex-direction: column;
  }

  .header_top_left {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .header_top_left p {
    text-align: center;
    margin: 10px 0;
    margin-top: 0 !important;
  }

  .header_search {
    width: 100%;
  }

  .popular_brands_row_left {
    order: 2;
  }

  .popular_brands_row_right {
    width: 100%;
    justify-content: center;
    order: 1;
  }

  .popular_brands_row_right form {
    padding: 0 30px;
  }

  .popular_brands_row label input {
    width: 100% !important;
  }

  .header_search form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_search label {
    width: 90%;
  }

  .navigation {
    display: none;
  }

  .header_viewOfferButtons {
    display: flex;
    align-items: center;
  }

  .header_btn_viewNewest,
  .header_btn_mostPopular,
  .header_viewNewest,
  .header_mostPopular {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #fff;
    color: orange !important;
    font-size: 16px;
    font-style: italic;
    padding: 10px;
    text-decoration: none;
    display: table;
    margin: 0 !important;
    margin: 0 10px !important;
  }

  a.header_btn_viewNewest {
    order: 2;
  }
}

@media (max-width: 500px) {
  .header_btn_viewNewest,
  .header_btn_mostPopular,
  .header_viewNewest,
  .header_mostPopular {
    font-size: 12px;
  }
}

/* END HEADER */

/* START MOBILE NAVIGATION */

@media (max-width: 800px) {
  #mobile_navigation .header_search label input {
    font-size: 12px !important;
    height: 35px !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.open_menu {
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  display: none;
  position: absolute;
  top: 13px;
  left: 30px;
}

.close_menu {
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 13px;
  left: 30px;
}

#mobile_navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: orange;
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
  overflow-y: scroll;
  z-index: 99999999;
}

.show_mobile_navigation {
  transform: translateX(-100%) !important;
}

.mobile_menu_content {
  width: 100%;
}

.dropdown_item {
  border-bottom: 1px solid #fff;
  line-height: 3;
}

.dropdown_item_click {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.dropdown_item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.dropdown_item .open_dropdown {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.mobile-menu-paragraph {
  padding: 10px 50px;
}

.mobile-menu-paragraph p {
  margin: 0;
  color: #fff;
  font-size: 14px;
}

.dropdown_list {
  width: 100%;
  margin: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown_list li {
  border-bottom: 1px solid orange;
  line-height: 3;
  width: 100%;
  padding: 0 20px;
}

.dropdown_list li:last-child {
  border-bottom: none;
}

.dropdown_list li a {
  color: orange;
  font-size: 14px;
}

.dropdown_list_none {
  display: none !important;
}

.main_menu {
  display: flex;
  align-items: center;
}

.rotate_arrow {
  transform: rotate(180deg);
}

.main_menu i {
  margin-right: 10px;
}

@media (max-width: 800px) {
  .open_menu {
    display: inline-block;
  }
}

@media (max-width: 500px) {
  #mobile_navigation .header_top {
    padding: 5px 20px;
  }

  .mobile-menu-paragraph p {
    text-align: center;
  }

  .dropdown_item {
    padding: 0px;
    line-height: 3;
  }

  .dropdown_item_click {
    padding: 0 20px;
  }

  .dropdown_item i {
    font-size: 24px;
  }
}

/* END MOBILE NAVIGATION */

/* START CAROUSEL  */

#carousel {
  margin: 5px 10px;
}

#carousel .carousel-inner {
  height: 150px;
}

#carousel .carousel-inner p {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

#carousel .carousel-item {
  height: 300px !important;
}

#carousel .carousel-inner img {
  position: relative;
  top: -170px;
}

@media (max-width: 800px) {
  #carousel {
    display: none;
  }
}

/* END CAROUSEL */

/* START OFFERS BLADE */

.fixed_navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 6%;
  background: orange;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
  z-index: 10000000000000000000;
}

.search_holder_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_holder_nav form {
  position: relative !important;
}

@media (max-width: 1100px) {
  .fixed_navigation {
    padding-left: 3%;
  }
}

.offer_holder {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 110px;
}

.offer_holder .offer_holder_row {
  width: 33.33%;
}

@media (max-width: 800px) {
  .offer_holder .offer_holder_row:first-child .offer_holder_row_title {
    padding-top: 10px;
  }
}

.offer_holder .offer_holder_row .offer_holder_row_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.offer_holder .offer_holder_row .offer_holder_row_title span {
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #fe9f0a;
  border-radius: 5px;
  margin: 0;
  box-shadow: 0 5px 5px 0 #00000030;
  border: 3px solid;
  padding: 3px;
}

.offer_holder .offer_holder_row .offer_holder_row_title h3 {
  margin: 0;
  color: #fe9f0a;
  background: #fff;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
}

.offer_holder .offer_holder_row .offer_holder_row_content .offer_box {
  display: flex;
  height: 110px;
  margin: 10px;
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_img {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_img
  a {
  width: 100%;
}

.get_this_btn {
  outline: none;
  width: 100%;
  border: none;
  background: #fe9f0a;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.get_this_btn:hover {
  color: #fff;
}

.offer_box_img a:nth-child(1) {
  height: calc(100% - 30px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer_box_img a:nth-child(1) img {
  width: 70px !important;
}

.get_this_btn i {
  margin-left: 10px;
  font-size: 14px;
}

@media (max-width: 500px) {
  .get_this_btn i {
    font-size: 12px;
    margin-left: 5px !important;
  }
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_img
  img {
  width: 100%;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_date {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
  position: relative;
  padding-top: 23px;
  padding-bottom: 17px;
}

.coupon {
  position: absolute;
  top: -5px;
  left: 10px;
  right: 10px;
  border-radius: 0 0 8px 8px;
  background: blueviolet;
  color: #fff;
  line-height: 2;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_date
  .offer_box_date_top {
  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  display: flex;
  height: 100%;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_date
  a {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  font-size: 15px;
}

@media (max-width: 1350px) {
  .offer_holder
    .offer_holder_row
    .offer_holder_row_content
    .offer_box
    .offer_box_date
    a {
    font-size: 13px !important;
  }
}

@media (max-width: 990px) {
  .offer_holder
    .offer_holder_row
    .offer_holder_row_content
    .offer_box
    .offer_box_date
    a {
    font-size: 14px !important;
  }
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_date
  .offer_box_date_bottom {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_date
  .offer_box_date_bottom
  p {
  margin: 0 2px !important;
  color: #000;
  font-size: 12px;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_text {
  width: 50%;
  margin: 0;
  margin-left: 5px;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_text
  a {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 3;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_text
  .offer_box_text_top {
  font-size: 12px;
  color: #000;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_text
  .offer_box_text_bottom {
  height: 50%;
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_text
  .offer_box_text_bottom
  a {
  outline: none;
  width: 100%;
  border: none;
  background: #fe9f0a;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.offer_holder
  .offer_holder_row
  .offer_holder_row_content
  .offer_box
  .offer_box_text
  .offer_box_text_bottom
  a
  i {
  margin-left: 10px;
  font-size: 12px !important;
  color: #fff;
}

@media (max-width: 1200px) {
  .offer_holder .offer_holder_row {
    width: 50% !important;
  }
}

@media (max-width: 991px) {
  .offer_holder .offer_holder_row {
    width: 100% !important;
  }
}

@media (max-width: 800px) {
  .offer_holder .offer_holder_row .offer_holder_row_content .offer_box {
    height: 115px !important;
  }

  .offer_holder
    .offer_holder_row
    .offer_holder_row_content
    .offer_box
    .offer_box_text
    .offer_box_text_top {
    line-height: 1.3 !important;
  }

  .offer_page .category_blade_title {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .offer_holder
    .offer_holder_row
    .offer_holder_row_content
    .offer_box
    .offer_box_text
    .offer_box_text_bottom
    a {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .offer_holder
    .offer_holder_row
    .offer_holder_row_content
    .offer_box
    .offer_box_date
    .offer_box_date_top {
    font-size: 14px !important;
  }

  .offer_holder .offer_holder_row .offer_holder_row_title span {
    font-size: 13px;
  }

  .offer_holder .offer_holder_row .offer_holder_row_title h3 {
    font-size: 13px;
  }

  .category_blade_title span {
    font-size: 13px !important;
  }

  .offer_page_title span {
    font-size: 13px !important;
  }

  .popular_brands_row span {
    font-size: 13px !important;
  }
}

/* END OFFERS BLADE */

/* START CATEGORY BLADE */

.popular_brands_row {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular_brands_row span {
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #fe9f0a;
  border-radius: 5px;
  margin: 0;
  box-shadow: 0 5px 5px 0 #00000030;
  border: 3px solid;
  padding: 3px;
  display: flex;
  margin-right: 10px;
}

.popular_brands_text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: orange;
  padding: 6px;
  margin: 0 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
}

.popular_brands_text h5 {
  font-size: 15px;
  color: #fff;
  margin: 0;
}

.popular_brands_text a {
  color: #fff;
  font-size: 15px !important;
  text-decoration: underline;
  padding: 0 2px;
}

.popular_brands_row_left {
  display: flex;
  align-items: center;
}

.popular_brands_row label {
  position: relative;
  width: 100%;
  margin: 0;
}

.popular_brands_row label button {
  border: none;
}

.popular_brands_row label button {
  position: absolute;
  top: 8px;
  left: 8px;
  color: rgb(175, 175, 175);
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.popular_brands_row label input {
  border: none;
  outline: none;
  line-height: 2.5;
  width: 600px;
  border-radius: 5px;
  padding: 0 40px;
  font-size: 14px;
  color: rgb(175, 175, 175);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.category_page {
  padding-bottom: 120px;
}

.category_page_holder {
  width: 100%;
  display: flex;
}

.category_page .offer_page_title {
  padding-left: 10px !important;
}

@media (max-width: 800px) {
  .category_page .offer_page_title {
    padding-left: 0px !important;
  }

  .category_page .offer_page_title span {
    font-size: 13px !important;
    margin-left: 10px !important;
  }
}

.category_blade {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.category_page .category_blade {
  padding-bottom: 0 !important;
}

.category_blade_row {
  width: 100%;
  margin-top: 10px;
}

.ad_sense {
  background: #000;
}

.category_blade_title {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.category_page .category_blade_title {
  padding-bottom: 20px;
  padding-left: 10px;
}

@media (max-width: 800px) {
  .category_page .category_blade_title {
    display: none !important;
  }
}

.category_page .header_viewOfferButtons {
  padding-bottom: 10px;
}

.category_blade_title span {
  font-size: 13px;
  color: #fff;
  text-align: center;
  background: #fe9f0a;
  border-radius: 5px;
  margin: 0;
  box-shadow: 0 5px 5px 0 #00000030;
  border: 3px solid;
  padding: 3px;
}

.category_blade_box {
  display: flex;
  justify-content: space-between;
  height: 110px;
  margin: 10px;
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.category_blade_box:first-child {
  margin-top: 0 !important;
}

.category_blade_box_img {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  .category_blade_box_img {
    width: 100px !important;
  }

  .category_blade_box_date {
    width: 30% !important;
  }
}

.category_blade_box_img img {
  width: 100%;
}

.category_blade_box_img a:nth-child(1) {
  height: calc(100% - 30px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category_blade_box_img a:nth-child(1) img {
  width: 60px !important;
}

.category_blade_box_date {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  position: relative;
}

.category_blade_box_date a {
  display: flex;
  height: 100%;
}

.category_blade_box_date_top {
  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.category_blade_box_date_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.category_blade_box_date_bottom p {
  margin: 0 2px !important;
  color: #000;
  font-size: 12px;
}

.category_blade_box_text {
  width: 50%;
  margin: 0 5px;
}

.category_blade_box_text_top {
  font-size: 13px;
  color: #000;
  height: 50%;
}

.category_blade_box_text_bottom {
  height: 50%;
  display: flex;
  align-items: flex-end;
  color: #fff;
}

.category_blade_box_text_bottom a {
  outline: none;
  width: 100%;
  border: none;
  background: #fe9f0a;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.category_blade_box_text_bottom a i {
  margin-left: 10px;
  font-size: 12px !important;
  color: #fff;
}

@media (max-width: 1000px) {
  .category_blade_box_date_top {
    font-size: 15px;
  }

  .category_blade_box_date_bottom p {
    font-size: 10px;
  }

  .category_blade_box_text_top {
    font-size: 12px;
  }

  .category_blade_box_text_bottom button {
    font-size: 12px;
  }

  .category_blade_box .coupon {
    font-size: 11px;
  }
}

@media (max-width: 800px) {
  .category_blade {
    width: 100%;
  }

  .category_blade_row {
    width: 100%;
  }

  .ad_sense {
    display: none;
  }

  .popular_brands_row {
    padding: 10px 0;
  }

  .category_blade_box {
    height: 115px !important;
  }

  .category_blade_box_text_top {
    line-height: 1.3 !important;
  }

  .ad_sense_holder_search_page {
    display: none !important;
  }
}

/* END CATEGORY BLADE */

/* START OFFER BLADE */

.offer_page {
  width: 100%;
  padding-bottom: 120px;
}

.single_offer {
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 10px;
}

@media (max-width: 800px) {
  .single_offer {
    margin-left: 10px;
    width: calc(100% - 20px);
  }
  .single_offer .single_offer_img img {
    width: 70px !important; 
  }
}

.single_offer_img {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.single_offer_img a:nth-child(1) {
  height: calc(100% - 30px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single_offer_img img {
  width: 130px !important;
}

@media (max-width: 500px) {
  .single_offer_img {
    width: 100px;
  }
}

.single_offer_img img {
  width: 100%;
}

.single_offer_date {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5px;
  position: relative;
}

.single_offer_date .coupon {
  left: 20%;
  right: 20%;
  line-height: 2.5;
}

.single_offer_date_top {
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.single_offer_date_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.single_offer_date_bottom p {
  margin: 0 2px !important;
  color: #000;
  font-size: 12px;
}

.single_offer_text {
  width: 35%;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single_offer_text .a_holder {
  display: block;
  width: 100%;
  height: 40%;
}

.single_offer_text_top p {
  margin: 0;
}

small {
  font-size: 14px;
  color: #222;
  margin: 0;
}

.single_offer_text_top {
  font-size: 14px;
  color: #000;
  height: 50%;
}

.single_offer_text_bottom {
  height: 50%;
  display: flex;
  align-items: flex-end;
}

.single_offer_text_bottom a {
  outline: none;
  width: 100%;
  border: none;
  background: #fe9f0a;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.single_offer_text_bottom a i {
  margin-left: 10px;
  font-size: 12px !important;
  color: #fff;
}

.share_me {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.share_me p {
  font-size: 12px;
  color: orange;
}

.share_me_item {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share_me_item a {
  color: #fff;
}

.share_me .facebook {
  background: #425f9c;
}

.share_me .twitter {
  background: #1da1f2;
}

.share_me .pinterest {
  background: #c50808;
}

.share_me .envelope {
  background: #5f5f5f;
  position: relative;
}

.share_me .envelope .email_popup {
  position: absolute;
  right: 25px;
  top: 0px;
  width: 200px;
  height: 100px;
  background: orange;
  padding: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.share_me .envelope .email_popup input {
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  font-size: 12px;
  color: #fff;
  background: transparent;
}

.share_me .envelope .email_popup button {
  border: none;
  background: #fff;
  font-size: 12px;
  color: orange;
  width: 100%;
  line-height: 2.5;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.share_me .envelope .email_popup button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.share_me .whatsapp {
  background: #52b60f;
}

.offer_content {
  display: flex;
  width: 100%;
}

.offer_page_title {
  padding: 5px 0;
  width: 98%;
  margin: 20px 0;
}

.offer_page_title span {
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #fe9f0a;
  border-radius: 5px;
  margin: 0;
  box-shadow: 0 5px 5px 0 #00000030;
  border: 3px solid;
  padding: 3px;
}

.offer_page .most_popular .category_blade_title {
  padding-left: 0;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.offer_page .most_popular .category_blade_box {
  margin-left: 0;
}

@media (max-width: 800px) {
  .category_blade_title {
    padding-left: 0;
  }

  .single_offer_text_top {
    font-size: 12px;
  }

  .single_offer_date_top {
    font-size: 14px;
  }

  .single_offer_date_bottom p {
    font-size: 10px;
  }

  .single_offer_text_top {
    font-size: 12px;
  }

  .share_me p {
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
  }

  .single_offer_date .coupon {
    left: 10%;
    right: 10%;
  }

  .offer_page .most_popular .category_blade_box {
    margin: 10px !important;
  }

  .category_blade_box {
    margin: 10px;
  }
}

@media (max-width: 500px) {
  .single_offer_img a:nth-child(1) {
    height: calc(100% - 30px) !important;
    margin-bottom: 0 !important;
  }

  small {
    font-size: 12px;
  }

  .single_offer_text_top p {
    margin: 0;
  }

  .coupon {
    left: 0 !important;
    right: 0 !important;
  }
}

/* END OFFER BLADE */

/* START SEARCH BLADE */

.search_page {
  display: flex;
}

.search_page .category_blade_title {
  padding-bottom: 10px !important;
  padding-left: 10px !important;
}

.search_page .category_blade_row {
  width: 100%;
  padding-bottom: 70px;
}

.search_page .category_blade_box {
  justify-content: space-between;
}

.search_page .category_blade_box_img {
  width: 150px;
}

.search_page .category_blade_box_img img {
  width: 100%;
}

.search_page_offer_title {
  padding-left: 10px !important;
}

.ad_sense_holder_search_page {
  width: 350px;
  margin-left: auto;
}

.ad_sense_holder_search_page .ad_sense {
  width: 350px;
  height: 200px;
}

@media (max-width: 1300px) {
  .search_page .category_blade_box_text_top {
    font-size: 12px !important;
  }
}

@media (max-width: 800px) {
  .search_page .category_blade_row {
    width: 100%;
  }

  .search_page_offer_title {
    padding-left: 0 !important;
  }

  .search_page {
    display: block;
  }
}

@media (max-width: 500px) {
  .search_page .category_blade_box_img {
    width: 20%;
  }

  .search_page .category_blade_box_text {
    width: 50%;
  }
}

/* END SEARCH BLADE */

/* START AD SENSE  */

.ad_sense {
  width: 160px;
  height: 600px;
  margin-top: 10px;
}

.search_page .ad_sense {
  margin-top: 60px !important;
}

/* END AD SENSE  */

/* START FOOTER */

footer {
  background: orange;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .foo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .foo p {
  color: #fff;
  margin: 0;
  font-size: 12px;
}

footer .footer_share {
  margin: 5px 0;
}

footer .foo a {
  color: #fff;
  font-size: 12px;
  border-right: 1px solid #fff;
  padding: 0 5px;
  text-decoration: underline !important;
}

footer .foo a:last-child {
  border-right: 0;
}

@media (max-width: 630px) {
  footer .foo p {
    padding: 5px 0;
  }
}

/* END FOOTER */

/* START SIGN IN POP UP */

.fixed_btn_form {
  position: fixed;
  left: 0px;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999;
}

.fixed_btn_in_form {
  width: 600px;
  height: 600px;
  border: 2px solid #ffa400;
  background: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  overflow: hidden;
  text-align: center;
}

.fixed_btn_in_form .fixed_btn_in_form_title {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.fixed_btn_in_form .fixed_btn_in_form_title h2 {
  font-size: 4em;
  font-weight: 200;
  color: #ffa400;
}

.fixed_btn_in_form .fixed_btn_in_form_title h3 {
  margin: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  color: #222;
}

.fixed_btn_in_form .fixed_btn_in_form_grey {
  background: rgb(228, 228, 228);
  width: 100%;
  padding: 10px 0;
}

.fixed_btn_in_form .fixed_btn_in_form_grey p {
  display: none;
}

.fixed_btn_in_form .fixed_btn_in_form_grey h4 {
  color: #ffa400;
}

.fixed_btn_in_form .fixed_btn_in_form_grey h5 {
  font-size: 20px;
  font-weight: 400;
}

.fixed_btn_in_form .fixed_btn_in_form_grey h5 span {
  color: #ffa400;
}

.fixed_btn_in_form .fixed_btn_in_form_submit {
  width: 100%;
}

.fixed_btn_in_form .fixed_btn_in_form_submit .fixedMy {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fixed_btn_in_form .fixed_btn_in_form_submit .fixedMy input {
  width: 75%;
  padding: 7px;
  text-indent: 5px;
  background: #fff;
  border-right: none;
}

button#newsletter_submit {
  background: #ffa400;
  border: none;
  color: #fff;
  font-weight: 200;
  font-size: 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  width: 25%;
}

.fixed_btn_in_form .fixed_btn_in_form_submit p {
  margin-top: 10px;
}

.fixed_btn_in_form .fixed_btn_in_form_text {
  width: 50%;
}

.fixed_btn_in_form .fixed_btn_in_form_text_first {
  width: 70%;
}

.fixed_btn_in_form .fixed_btn_in_form_text_first span {
  color: #ffa400;
}

.popUp_miniform {
  width: 90%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.fixed_btn_form p {
  font-size: 12px;
  color: #222;
  margin: 0;
  padding: 0;
}

.fixed_btn_form .close_popUp {
  position: absolute;
  right: 5%;
  top: 5%;
  color: #fff;
  font-size: 30px;
  background: #ffa400;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: 2px solid #fff;
  text-align: center;
}

.fixed_btn_form .close_popUp i {
  font-size: 24px;
}

.close-modal {
  border: none;
  background: transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 0;
  margin: 0;
}

.close-modal:focus {
  box-shadow: none !important;
}

@media (max-width: 800px) {
  .fixed_btn_in_form {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 90%;
  }

  .fixed_btn_form .close_popUp {
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
  }

  .fixed_btn_form .close_popUp i {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .fixed_btn_in_form {
    overflow-y: scroll;
    justify-content: flex-start;
    padding: 10px 0px;
    height: auto;
  }

  .fixed_btn_in_form .fixed_btn_in_form_title {
    width: 100%;
    padding: 0 10px;
  }

  .fixed_btn_in_form .fixed_btn_in_form_title h2 {
    font-size: 3em;
  }

  .fixed_btn_in_form .fixed_btn_in_form_title h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .fixed_btn_in_form .fixed_btn_in_form_text {
    width: 100%;
    padding: 0 10px;
  }

  .fixed_btn_in_form .fixed_btn_in_form_submit .fixedMy {
    margin: 10px 0;
  }

  .fixed_btn_in_form .fixed_btn_in_form_submit .fixedMy button {
    font-size: 12px;
  }
}

/* END SIGN IN POP UP */

/* START COOKIE */

#cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 15px;
}

#cookie .cookie_left {
  width: 60%;
}

#cookie .cookie_left p {
  color: #fff;
  text-align: left;
  margin: 0;
  font-size: 16px;
}

#cookie .cookie_right {
  display: flex;
  align-items: center;
}

#cookie .cookie_right a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
  text-decoration: underline !important;
}

#cookie .cookie_right .fa-angle-right {
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}

#cookie .cookie_right button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 3;
  background: #84c15b;
  color: #fff;
  font-size: 12px;
  width: 120px;
  margin: 0 30px;
  cursor: pointer;
  border: none;
}

#cookie .cookie_right button .fa-check {
  font-size: 14px;
}

#cookie .cookie_right .fa-times-circle {
  font-size: 22px;
  color: #d8d8d8;
  cursor: pointer;
}

.cookie_link {
  text-decoration: underline !important;
  color: #fff;
}

.cookie_link:hover {
  color: #fff;
}

@media (max-width: 800px) {
  #cookie .cookie_left {
    width: auto !important;
  }

  #cookie .cookie_left p {
    font-size: 12px;
  }

  #cookie .cookie_right {
    margin-left: 10px;
  }

  #cookie .cookie_right button {
    justify-content: space-around;
    line-height: 2.5;
    font-size: 10px;
    margin: 0 !important;
    margin-right: 5px !important;
    width: 100px;
  }

  #cookie .cookie_right .fa-times-circle {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  #cookie .cookie_left p {
    font-size: 10px !important;
    line-height: 1;
  }
}

/* END COOKIE */

/* START GO TOP */

.go_top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fe9f0a;
  position: fixed;
  right: 0;
  bottom: 120px;
  width: 45px;
  height: 45px;
  color: #fff;
  border-radius: 8px 0 0 8px;
  padding: 0;
  margin: 0;
  border: 2px solid #fff;
  font-size: 13px;
  font-weight: bold;
  border-right: none;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.go_top:hover {
  color: #fff;
}

/* END GO TOP */

/* HIDDEN */

.hidden {
  display: none !important;
}

@media (max-width: 800px) {
  .hidden800 {
    display: none;
  }
}

/* END HIDDEN */

/* NO RESULT HOLDER */

.newHolder {
  display: flex;
}

.no-result-holder {
  margin: 20px 10px;
  margin-bottom: 0 !important;
  text-indent: 20px;
}

.no-result-holder a {
  background: #fff;
  font-size: 16px;
  color: orange !important;
  font-weight: bold;
  display: flex;
  width: 100%;
  line-height: 3;
}

/* REDIRECT POP UP */

.popUp_redirect {
  position: fixed;
  top: 0%;
  padding-top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.527);
}

.popUp_redirect .popUp_redirect_holder {
  width: 600px;
  height: 200px;
  max-height: 500px;
  box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, 0.6);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.close_redirect_popUp {
  position: absolute;
  top: -9px;
  cursor: pointer;
  right: -9px;
  font-size: 40px;
  color: orange;
}

.popUp_redirect .popUp_redirect_holder .popUp_redirect_text {
  color: #000;
  line-height: 1;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.popUp_redirect .popUp_redirect_holder .popUp_redirect_text p {
  margin: 0;
  padding-bottom: 5px;
}

.popUp_redirect .popUp_redirect_holder .popUp_redirect_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUp_redirect .popUp_redirect_holder a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background: orange;
  line-height: 2.5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .popUp_redirect .popUp_redirect_holder {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .popUp_redirect .popUp_redirect_holder .popUp_redirect_text {
    font-size: 12px;
  }
}

.searchInContent label .searchInContent_input {
  width: 100% !important;
  text-align: center !important;
  font-size: 18px !important;
  height: 45px !important;
}

.searchInContent label i {
  top: 13px !important;
}

.searchInContent {
  width: 90%;
}

@media (max-width: 800px) {
  .searchInContent {
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .searchInContent label .searchInContent_input {
    height: 35px !important;
    font-size: 16px;
  }

  .searchInContent label .searchInContent_input::placeholder {
    font-size: 16px !important;
  }

  .searchInContent label button {
    top: 5px !important;
  }
}

@media (max-width: 400px) {
  .searchInContent label .searchInContent_input {
    font-size: 12px !important;
  }

  .searchInContent label .searchInContent_input::placeholder {
    font-size: 12px !important;
  }
}

.offer_page .ad_sense {
  margin-top: 60px !important;
}

.single_offer_date a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/**
aaa
*/
