* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background: #f4f4f4;
    position: relative;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

#header {
    background: orange;
}

#header nav .navbar-brand {
    color: #fff;
    font-size: 1.6em;
    margin-right: 5%;
}

#header nav .navbar-brand:hover {
    color: #fff;
}

#header nav .form-control {
    border-radius: 20px;
    width: 350px !important;
    position: relative;
    padding-left: 50px;
}

#header nav .form-control:placeholder-shown {
    padding-left: 50px;
}

#header nav .fa-search {
    color: #495057;
    line-height: 70px;
}

#header nav .btn1 {
    background: none;
    position: absolute;
    z-index: 10;
}
header .search-div {
    position: absolute;
    top: 43px;
    right: 0;
    z-index: 10;
    width: 320px;
    background: #fff;
}
header .searchh {
    padding-left: 30px;
    box-sizing: border-box;
    text-align: start;
    border-radius: 20px;
    border: none;
    width: 400px;
    height: 30px;
}

header .search-div-1 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}
.disable{
    display:none;
}
header .search-div-1:hover {
  background: #ddd;
}

header .search-div-1:last-child {
    border: none;
}
#menu {
    background: #fff;
}

#menu .dropbtn {
    background-color: #fff;
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 300px;
    text-align: start;
}

#menu span {
    background: orange;
    color: #fff;
    border-radius: 20px;
    font-size: 10px;
    text-align: center;
    width: 100px !important;
    height: 25px !important;
    margin-left: 40px;
    line-height: 25px;
}

#menu .spanrr {
    position: absolute;
    right: 10px;
}

#menu .spanr {
    position: absolute;
    right: 10px;
}

#menu .dropdown {
    position: relative;
    display: inline-block;
}

#menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    width: 300px;
}

#menu .dropdown-content a {
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
}

#menu .dropdown-content a:hover {
    background-color: #ddd;
}

#menu .dropdown:hover .dropdown-content {
    display: block;
}

#menu .dropdown:hover .dropbtn {
    border-top: 2px solid green;
    background-color: #fff;
    z-index: 10;
}

#carousel {
    margin: 20px 0;
}



#carousel img {
    position: relative;
    top: -68px;
}


#carousel .caroP {
    position: absolute;
    top: 10%;
    left: 22%;
    color: #fff;
    font-size: 26px;
    z-index: 10;
    font-weight: 800;
}

#carousel .caroPleft {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: #fff;
    font-size: 26px;
    z-index: 10;
    font-weight: 800;
}

#carousel .caroPright {
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: #fff;
    font-size: 26px;
    z-index: 10;
    font-weight: 800;
}

.carousel-item {
    height: 300px !important;
}

#row {
    background: #f4f4f4;
}

#row .red {
    background: #fff;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 10px 0;
    min-height: 248px;
}

#row .red li {
    list-style: none;
}

#row .red .image {
    margin: auto 0;
    width: 140px;
    flex: 0 15%;
    margin-left: 2%;

}

#row .red .image img {
    width: 100%;
}

#row .red .title {
    flex: 0 25%;
    margin: auto 0;
}

#row .red .title h6 {
    color: #211c1c;
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
}

#row .red .text {
    margin: auto 0;
    text-align: start;
    flex: 0 25%;
    margin-left: 2%;
    color: #211c1c;
}

#row .red .text p {
    color: #211c1c;
}

#row .red .text .ul-text {
    margin: 0;
}

#row .red .date {
    flex: 0 15%;
    text-align: center;
    margin: auto 0;
}

#row .red .dateA {
    color: #211c1c;
    font-weight: 500;
}

#row .red .btn {
    margin: auto 0;
}

#row .red .btn .butt {
    background: #fe9f0a;
    padding: 10px 50px;
    color: #fff;
    border-radius: 20px;
}

@media screen and (max-width: 1200px) {
    #cont {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 1000px) {
    /* .date {
        position: absolute;
        right: 6%;
        margin: 0 !important;
    }

    .title {
        position: relative;
        margin: 0 !important;
    }

    .text {
        position: absolute;
        margin-top: 4% !important;
    } */
}

@media screen and (max-width: 890px) {
    .red {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .image {
        text-align: center;
        margin: 0 auto !important;
    }

    .title {
        text-align: center;
        padding: 10px 0 !important;
        margin-top: 10px !important;
    }

    .text {
        position: static;
        text-align: center !important;
    }

    .btn {
        margin-top: 5% !important;
    }
}

#boxes h2 {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 5%;
    background: #fff;
    color: #323131;
    font-weight: 300;
    font-size: 24px;
}

#boxes .box {
    width: 100%;
}

#boxes .fix {
    background: #fff;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 20px 0;
    -webkit-box-shadow: 0px 2px 4px 1px #ddd;
    box-shadow: 0px 2px 4px 1px #ddd;
}

#boxes .fix-img img {
    width: 150px;
    height: 150px;
}

#boxes .fix-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 60%;
    flex: 0 60%;
    margin-left: 3%;
}

#boxes .fix-a {
    color: #5d5858;
    font-size: 14px;
}

#boxes .fix-a:first-child {
    font-size: 22px;
    margin-top: 3%;
    margin-bottom: 5%;
}

#boxes .dugmici {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 19%;
    flex: 0 19%;
}

#boxes .dugme {
    background: #fe9f0a;
    border-radius: 20px;
    color: #fff;
    padding: 5px 10px;
    margin: 10px 0;
    text-align: center;
}

#boxes .datum {
    text-align: end;
}

footer {
    background: #111;
    padding: 10px 0;
}

footer .foo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

footer .foo p {
    color: #fff;
    margin: 0;
}

footer .foo ul {
    margin: 0;
}

footer .foo ul a {
    color: #fff;
}

@media screen and (max-width: 992px) {
    .fix {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        text-align: center;
    }

    .slika {
        margin: 0 auto;
    }

    .slika .fix-img {
        margin-bottom: 50px;
        width: 150px !important;
        height: 100px !important;
    }

    .fix-text {
        margin: 0 !important;
    }

    .container {
        max-width: 100% !important;
        margin: 0 auto !important;
        padding: 0 10px;
    }

    .dva {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (max-width: 630px) {
    .dva {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .foo {
        text-align: center !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
}

#boxes .box .first-btn {
    margin-top: 20%;
}

#boxes .title2 {
    margin-top: 5px;
}

@media screen and (max-width: 992px) {
    #boxes .box .first-btn {
        margin-top: 0;
    }

    #boxes .box .dugmici {
        padding: 0 50px;
    }
}
